/* BODY -- lighter bacgkround and offset to avoid overlap with navbar */
body {
  background-color: #fafafa;
	padding-top: 65px;
  font-size: 140%;
}

/* NAVBAR -- bigger fonts */
.navbar {
    font-size: 16px;
}
.navbar-brand {
  font-size: 25px;
}

/* NAVBAR -- changed hover font color from gray to white */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}

/* NAVBAR -- add hover background color */
.navbar li:hover {
  background-color: #003619;
}

/* NAVBAR -- change toggle (collapse button) color from gray to white */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

/* NAVBAR -- remove toggle border color */
.navbar-default .navbar-toggle {
  border-color: #014421;
}

/* NAVBAR -- change toggle hover color */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #001c0d;
  border-color: #000000;
}

/* NAVBAR -- change background and hover background color for dropdown at collapse */
.navbar-nav .open .dropdown-menu {
  background-color: #014421;
}

/* NAVBAR -- change hover color from maroon to green */
.navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-nav .open .dropdown-menu > li > a:focus {
  background-color: #003619;
}

/* NAVBAR -- change divider hover color from green to #e5e to remove flickering look */
.navbar-nav .open .dropdown-menu .divider:hover {
  background-color: #e5e5e5;
}

/*
"active" not working
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f2f2f2;
  background-color: #003619;
}*/

/*
???
.navbar .wform {
  max-height: 50px;
}*/

/* Sticky footer styles */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down fotter */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 70px;/* added 10 for padding */
}

/* Set the fixed height of the footer here */
#footer {
  text-align: center;
  height: 60px;
  background-color: #f5f5f5;
}

/* JUMBOTRON -- change font color from black to white */
.jumbotron {
  color: #ffffff;
}

/* JUMBOTRON -- reverse primary button colors */
.jumbotron .btn-primary {
  background-color: #014421;
}
.jumbotron .btn-primary:hover,
.jumbotron .btn-primary:focus {
  background-color: #003619;
}

/* BREADCRUMB -- remove background color and padding on the left (align with body) */
.breadcrumb {
  padding: 8px 8px 8px 0px;
  background-color: rgba(0,0,0,0.0);
}

/* PROFILE -- fragment */
.details {
  font-size: medium;
  padding: 2px;
}

/* PROFILE -- set max height for tables in profile view */
.mini-table {
  max-height: 200px;
  overflow: auto;
}

/* PROFILE -- mini-alert for mini-table */
.mini-alert {
  padding: 3px;
}

/* PROFILE -- view documents */
.pdf-viewer {
  margin-bottom: 30px;
}

/* DATEPICKER -- keep on top */
#datepicker,
#monthpicker, 
#birthdaypicker {
  z-index:1151;
}

/*** ADMIN ***/
/*** ADMIN ***/
/*** ADMIN ***/

/*** FACULTY ***/

.btn.disabled.button-tip
{
  pointer-events: inherit;
}

/* SIDEBAR -- avoid overlap with footer and auto-size depending on screen size*/
.affix-top,
.affix {
    position: static;
}
@media screen and (min-width: 992px) {

  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  .bs-sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }

  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 228px;
  }
  .bs-sidebar.affix {
    position: static; /* fixed - scrollable */
    top: 220px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 235px;
  }
}

/* --- FIX --- */
pre {
  padding: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
  background-color: #ffffff;
}

.pre-scrollable {
  max-height: 500px;
  padding: 50px;
}

pre h1 {
  margin-top: -20px;
  font-size: 20px;
}

pre h2 {
  margin-top: 0px;
  font-size: 18px;
}

pre h3 {
  margin-top: 10px;
  font-size: 16px;
}

pre h4 {
  margin-top: 10px;
  font-size: 15px;
}

pre p {
  text-align: justify;
}

pre .category {
  font-size: 16px;
  font-weight: 400;
}

pre .template-output {
  font-size:  14px;
  text-align: justify;
  /*text-indent: 20px;*/
  /*word-wrap: break-word;*/
}

pre table > thead > tr > th
{
  vertical-align: middle;
}

.edit_output textarea
{
  text-align: justify;
  border-color: gray;
  border-radius: 10px;
  min-height: 50px;
}
.edit_output textarea:focus
{
    outline: 0;
}
.edit_output button
{
  margin-top: 5px;
  margin-left: auto;
  display: block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  background-color: #7b1113;
  border-color: #650e10;
}
.edit_output button:hover,
.edit_output button:focus {
  color: #ffffff;
  background-color: #4e0b0c;
  border-color: #2f0607;
}

/* Set dropdown background color to white */
td .dropdown-menu
/*td .dropdown-menu*/
/*div .bootstrap-select > .dropdown-menu,
div .bootstrap-select > div .dropdown-menu*/
{
  background-color: #ffffff;
}
/* Set dropdown font color to grey */
td .dropdown-menu > li > a
/*td .dropdown-menu > li > a*/
/*div .bootstrap-select > .dropdown-menu > li > a,
div .bootstrap-select > div .dropdown-menu > li > a*/
{
  color: #000000;
}
td .dropdown-menu > li > a:hover,
/*td .dropdown-menu > li > a:hover,*/
td .dropdown-menu > li > a:focus
/*td .dropdown-menu > li > a:focus*/
/*div .bootstrap-select > .dropdown-menu > li > a:hover,
div .bootstrap-select > .dropdown-menu > li > a:focus,
div .bootstrap-select > div .dropdown-menu > li > a:hover,
div .bootstrap-select > div .dropdown-menu > li > a:focus */
{
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
  outline: 0;
}
td .dropdown-menu > .active > a
/*td .dropdown-menu > .active > a*/
/*div .bootstrap-select > .dropdown-menu > .active > a,
div .bootstrap-select > div .dropdown-menu > .active > a,*/
{
  background-color: #428bca;
}

.alert-warning {
  background-color: #fcece3;
  border-color: #fad4cc;
  color: #8a463b;
}
.alert-reminder {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
