body {
  background-color: #fafafa;
	padding-top: 65px;
}

.navbar-brand {
  font-size: 25px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar li:hover {
	background-color: #003619;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #001c0d;
  border-color: #000;
}

.jumbotron {
	color: #efefef;
}

.jumbotron h1 {
	color: #fff;
}

.jumbotron .btn-primary {
	background-color: #014421;
}

.jumbotron .btn-primary:hover,
.jumbotron .btn-primary:focus {
  background-color: #003619;
}

.navbar {
    font-size: 16px;
}

.navbar .wform {
  max-height: 50px;
}

/* No flickering bar */
.dropdown-menu .divider:hover {
  background-color: #fff;
}

/* during navbar collapse, dropdown will highlight one row at a time */
.navbar-nav .open .dropdown-menu {
	background-color: #014421;
}

/* change hover color from maroon to green */
.navbar-nav .open .dropdown-menu > li > a:hover{
	background-color: #003619;
}

.breadcrumb {
  padding: 8px 8px 8px 0px;
  background-color: rgba(0,0,0,0.0);
}

pre {
  padding: 30px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: inherit;
  background-color: #fff;
}

.pre-scrollable {
  max-height: 500px;
  padding: 30px;
}

pre .p,
pre p {
  text-align: justify;
}

.pcr {
  font-size: 12px;
  text-align: justify;
}

pre h2,
pre .h2 {
  margin-top: 10px;
}

h6,
.h6 {
  font-size: 16px;
  font-weight: 450;
}

.navbar-default .navbar-toggle {
  border-color: #014421;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.bs-sidebar.affix-bottom, .bs-sidebar.affix {
  width: 263px;
}

.pdf-viewer {
  margin-bottom: 30px;
}

.details {
  font-size: medium;
  padding: 2px;
}

.alert-profile {
  padding: 3px;
}