/* NAVBAR -- bigger fonts */
.navbar {
  font-size: 16px;
}
.navbar-brand {
  font-size: 25px;
}

/* NAVBAR -- adjust badge */
.badge {
  margin-top: -10px;
  margin-left: -5px;
  font-size: 10px;
  color: #7b1113;
  vertical-align: super;
  background-color: #ffffff;
  border: 2px solid #7b1113;
}

.notify {
  background-color: #7b1113;
}

/* NAVBAR -- set hover font color to white */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}

/* NAVBAR -- add hover background color, set active backgroud color to hover color */
.navbar-default .navbar-nav li:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #003619;
}

/* NAVBAR DROPDOWN -- show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
 }

/* NAVBAR DROPDOWN -- set background and hover background color for dropdown at collapse to a lighter green */
.navbar-nav .open .dropdown-menu {
  background-color: #014421;
}

/* NAVBAR DROPDOWN -- set hover color to green (from maroon) */
.navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-nav .open .dropdown-menu > li > a:focus {
  background-color: #003619;
}

/* NAVBAR DROPDOWN -- set divider hover color same with light gray to remove flickering */
.navbar-nav .open .dropdown-menu .divider:hover {
  background-color: #e5e5e5;
}

/* NAVBAR TOGGLE -- set color to white (from gray) */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

/* NAVBAR TOGGLE -- remove border color */
.navbar-default .navbar-toggle {
  border-color: #014421;
}

/* NAVBAR TODGLE -- set hover color to dark-green (from light gray) */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #001c0d;
  border-color: #000000;
}

/*
???
.navbar .wform {
  max-height: 50px;
}*/

/* BODY -- lighter bacgkround and offset to prevent overlap with navbar */
body {
  background-color: #fafafa;
  padding-top: 60px;
}

/* BREADCRUMB -- remove background color and padding on the left (align with body) */
.breadcrumb {
  padding: 8px 8px 8px 0px;
  background-color: transparent;
}

/* ALERTS - new orange themed alert */
.alert-warning {
  background-color: #fcece3;
  border-color: #fad4cc;
  color: #8a463b;
}
/* ALERTS - alert-warning is now alert-reminder */
.alert-reminder {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

/* JUMBOTRON -- change font color from black to white */
.jumbotron {
  color: #ffffff;
}

/* JUMBOTRON -- reverse primary button colors */
.jumbotron .btn-primary {
  background-color: #014421;
}
.jumbotron .btn-primary:hover,
.jumbotron .btn-primary:focus {
  background-color: #003619;
}

/* TABLE -- bigger fonts */
table {
  font-size: 115%;
}

/* DATATABLES - set group row color constant */
tr.group,
.table-hover > tbody > tr.group:hover > td {
    background-color: #ddd !important;
}

/* DROPDOWN - set background color to white */
div.btn-group ul.dropdown-menu,
td.dropdown ul.dropdown-menu
{
  background-color: #ffffff;
}
/* DROPDOWN - set font color to gray */
div.btn-group ul.dropdown-menu > li > a,
td.dropdown ul.dropdown-menu > li > a
{
  color: #000000;
}
/* DROPDOWN - set hover background color to gray-ish */
div.btn-group ul.dropdown-menu > li > a:hover,
div.btn-group ul.dropdown-menu > li > a:focus,
td.dropdown ul.dropdown-menu > li > a:hover,
td.dropdown ul.dropdown-menu > li > a:focus
{
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
  outline: 0;
}

/* DATEPICKER -- keep on top */
#datepicker,
#monthpicker,
#yearmonth,
#period,
#cuma-period,
#award-duration,
#research-duration,
#paper-dates,
#creative-dates,
#participation-dates,
#other-dates
{
  z-index:1500;
}

/* PROFILE -- fragment */
.details {
  font-size: medium;
  padding: 2px;
}

/* FOOTER -- styles */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 70px;/* added 10 for padding */
}

/* Set the fixed height of the footer here */
#footer {
  text-align: center;
  height: 60px;
  background-color: #f5f5f5;
}

/*** ADMIN ***/

/* ANNOUNCEMENT HEADERS -- copy page-header style */
.announcement-header {
padding-bottom: 1px;
margin: 40px 0 10px;
border-bottom: 1px solid #eee;
}

/* OUTLINE/ANNOUNCEMENT HEADERS -- prevent headbutt with navbar with #links */
.page-header:before,
.announcement-header:before {
  display: block; 
  content: " "; 
  margin-top: -80px; 
  height: 70px; 
  visibility: hidden; 
}
.announcement-header:first-of-type:before {
  display: block; 
  content: " "; 
  margin-top: -40px; 
  height: 30px; 
  visibility: hidden; 
}

/* OUTLINE/ANNOUNCEMENT HEADERS -- custom margin on top (FIRST CHILD ONLY) */
.page-header:first-child,
.announcement-header:first-of-type {
  margin-top: 20px;
}
/* ANNOUNCEMENT HEADERS -- remove divider (hr) (LAST CHILD ONLY) */
.announcement-divider:last-of-type {
  display:none;
}

/* PAGE HEADERS -- prevent line break after h2 making the edit button inline */
.page-header h2,
.col-md-11 input /* ? */
{
  display: inline;
}
/* PAGE HEADERS -- hide edit link */
.page-header .show-hover
{
  font-size: 16px;
  color: transparent;
}

/* PAGE HEADERS -- show edit link on hover */
.page-header .show-hover:hover
{
  color: #7b1113;
  text-decoration: none;
}

/* INFORMATION -- title */
.dl-horizontal dt
{
  width: 120px;
}

/* INFORMATION -- description */
.dl-horizontal dd {
  margin-left: 140px;
}

/* SIDEBAR NAV -- hide sidebar sub menus by default */
#affix.nav .nav {
  display: none;
  font-size:12px;
}

/* SIDEBAR NAV -- show sub menu when parent is active */
#affix.nav > .active li {
  display: block;
}

/*** FACULTY ***/

/* BUTTON -- disabled with tootltip */
.btn.disabled.button-tip
{
  pointer-events: inherit;
}

/* SIDEBAR -- avoid overlap with footer and auto-size depending on screen size*/
/*.affix-top,
.affix {
    position: static;
}
@media screen and (min-width: 992px) {

  .nav > .active > ul {
    display: block;
  }
  .affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }

  .affix,
  .affix-bottom {
    width: 228px;
  }
  .affix {
    position: static; /* fixed - scrollable
    top: 220px;
  }
  .affix-bottom {
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .affix-bottom,
  .affix {
    width: 235px;
  }
}*/

/* DRAFT DEFAULTS */
pre {
  padding: 50px 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
  background-color: #ffffff;
}

.pre-scrollable {
  max-height: 500px;
  padding: 50px;
}
pre h1:first-child {
  margin-top: -20px;
}
pre h1 {
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: normal;
}
pre h2,
pre h3 {
  margin-top: 10px;
  font-size: 16px;
}
pre h4 {
  margin-top: 10px;
  font-size: 15px;
}
pre p {
  text-align: justify;
}

/* IPCR/OPCR DRAFT DEFAULTS */
pre table > thead > tr > th
{
  vertical-align: middle;
}
pre .category {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
pre .template-output {
  font-size:  14px;
  text-align: justify;
}

/* IPCR/OPCR DRAFT - edit output */
.edit_output textarea
{
  text-align: justify;
  border-color: gray;
  border-radius: 10px;
  min-height: 50px;
}
.edit_output textarea:focus
{
    outline: 0;
}
.edit_output button
{
  margin-top: 5px;
  margin-left: auto;
  display: block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  background-color: #7b1113;
  border-color: #650e10;
}
.edit_output button:hover,
.edit_output button:focus {
  color: #ffffff;
  background-color: #4e0b0c;
  border-color: #2f0607;
}

table.display
{
  table-layout:fixed;
}
table.display thead tr th
{
  /*border: 1px solid #ddd !important;*/
  background-color: #f5f5f5;
  vertical-align: middle;
}
table.display th.first,
table.display td.first
{
  text-align: left;
}
table.display th,
table.display td
{
  text-align: center;
}

.template-header
{
  font-size:17px;
  background-color: #f5f5f5;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}
.padded td {
  padding-left: 5px;
}
#announcement_table td.content,
#announcement_summary_table td.content,
#message_table td.message {
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
}
#headlines {
  height: 100px;
  overflow: hidden;
}

a.link-reverse:link,
a.link-reverse:visited
{
  color: inherit;
  text-decoration: none;
}
a.link-reverse:hover,
a.link-reverse:active
{
  color: #7b1113;
  text-decoration: none;
}

#education_table 
{
  background-color: #f5f5f5;
  vertical-align: left;
}